* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

.g-container {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media (min-width: 576px) {
  .g-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .g-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .g-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .g-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .g-container {
    max-width: 1320px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  background-color: #121212;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .wrapper nav .nav-btn {
  display: none;
}

header .wrapper nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper nav .links .link {
  position: relative;
  text-align: center;
}

header .wrapper nav .links .link a {
  font-size: 1rem;
  display: block;
  border: 1.5px solid #2f2f2f;
  padding: 6px 20px;
  color: #fff;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

header .wrapper nav .links .link:hover > a,
header .wrapper nav .links .link.active > a {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

header .wrapper nav .links .link .sublinks {
  position: absolute;
  top: 100%;
  overflow: hidden;
  min-width: 100%;
  max-height: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .wrapper nav .links .link .sublinks .sublink a {
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
}

header .wrapper nav .links .link .sublinks .sublink:hover a, header .wrapper nav .links .link .sublinks .sublink.active a {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

header .wrapper nav .links .link:hover .sublinks {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 300px;
  overflow: hidden;
}

header .wrapper .logo {
  width: 250px;
}

@media (max-width: 768px) {
  header .wrapper nav .nav-btn {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #666;
    outline: none;
    margin: 6px 0 0 8px;
    border-radius: 2px;
    overflow: hidden;
  }
  header .wrapper nav .nav-btn span {
    cursor: pointer;
    display: block;
    color: #fff;
    padding: 4px 6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header .wrapper nav .nav-btn:hover span, header .wrapper nav .nav-btn.active span {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .wrapper nav .nav-btn.nav-btn-anim {
    -webkit-animation: navBtnAnim 1s 1;
            animation: navBtnAnim 1s 1;
  }
  header .wrapper nav .nav-btn.nav-btn-anim span {
    background-color: rgba(255, 18, 18, 0.5);
  }
  @-webkit-keyframes navBtnAnim {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  @keyframes navBtnAnim {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
    }
  }
  header .wrapper nav .links {
    position: absolute;
    background-color: transparent;
    left: -100%;
    top: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 200px;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    height: calc(100vh - -32px);
    overflow-y: auto;
  }
  header .wrapper nav .links .link {
    margin: 0;
    width: 100%;
  }
  header .wrapper nav .links .link a {
    padding: 10px 5px;
  }
  header .wrapper nav .links .link .sublinks {
    width: 100%;
    position: static;
  }
  header .wrapper nav .links .link .sublinks .sublink a {
    padding-left: 5px;
  }
  header .wrapper nav .links .link .sublinks .sublink a:hover {
    padding: 10px 5px 10px 10px;
  }
  header .wrapper nav .links .link:hover .sublinks {
    position: static;
  }
  header .wrapper nav .links.active {
    left: 0;
  }
  header .wrapper .logo {
    width: 150px;
  }
}

main .slider {
  min-height: calc(100vh - 148px);
  padding: 50px 0;
}

main .slider .first-wrap {
  background-color: #666;
  padding: 20px 0;
}

main .slider .first-wrap .second-wrap .content-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #121212;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

main .slider .first-wrap .second-wrap .content-wrap .door-left,
main .slider .first-wrap .second-wrap .content-wrap .door-right {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), color-stop(50%, #b4b4b3), to(#79797b));
  background: linear-gradient(180deg, #e3e3e3 0%, #b4b4b3 50%, #79797b 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  z-index: 500;
  top: 0;
  height: 100%;
}

main .slider .first-wrap .second-wrap .content-wrap .door-left span,
main .slider .first-wrap .second-wrap .content-wrap .door-right span {
  display: block;
  height: 100%;
  border: 2px solid #000;
}

main .slider .first-wrap .second-wrap .content-wrap .door-left {
  border-right: 2px solid #000;
  padding: 11px 12px 11px 0;
  left: -100%;
  right: 100%;
}

main .slider .first-wrap .second-wrap .content-wrap .door-left span {
  border-left: 0;
  background: linear-gradient(275deg, #a4a4a4 0%, #8a8a8a 50%, #676769 100%);
}

main .slider .first-wrap .second-wrap .content-wrap .door-left.active {
  right: 50%;
  left: 0;
}

main .slider .first-wrap .second-wrap .content-wrap .door-right {
  border-left: 2px solid #000;
  padding: 11px 0 11px 12px;
  right: -100%;
  left: 100%;
}

main .slider .first-wrap .second-wrap .content-wrap .door-right span {
  border-right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#a4a4a4), color-stop(50%, #8a8a8a), to(#676769));
  background: linear-gradient(90deg, #a4a4a4 0%, #8a8a8a 50%, #676769 100%);
}

main .slider .first-wrap .second-wrap .content-wrap .door-right.active {
  right: 0;
  left: 50%;
}

main .slider .first-wrap .second-wrap .content-wrap .arrows {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  z-index: 100;
}

main .slider .first-wrap .second-wrap .content-wrap .arrows span {
  width: 30px;
  height: 30px;
  background-color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border: 1px solid #666;
  cursor: pointer;
  border-radius: 2px;
}

main .slider .first-wrap .second-wrap .content-wrap .content-img-wrap {
  background-color: #1d1d1d;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .slider .first-wrap .second-wrap .content-wrap .content-img-wrap .content-img {
  overflow: hidden;
  -webkit-box-shadow: 0 0 13px 4px #000;
          box-shadow: 0 0 13px 4px #000;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .slider .first-wrap .second-wrap .content-wrap .content-img-wrap .content-img img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap {
  background-color: #1d1d1d;
  color: #fff;
  padding: 40px;
}

main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap p {
  height: 275px;
  overflow-y: scroll;
  padding: 10px;
  scrollbar-color: #8e8e8e #121212;
}

main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap p::-webkit-scrollbar {
  width: 12px;
}

main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap p::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 50px;
  padding: 2px;
}

main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap p::-webkit-scrollbar-thumb {
  background: #8e8e8e;
  border-radius: 50px;
}

main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap p::-webkit-scrollbar-button:vertical:decrement {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: url("../img/up-arrow.png") no-repeat center center #121212;
  background-size: 6px;
}

main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap p::-webkit-scrollbar-button:vertical:increment {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: url("../img/down-arrow.png") no-repeat center center #121212;
  background-size: 6px;
}

@media (max-width: 768px) {
  main .slider {
    min-height: calc(100vh - 103px);
  }
  main .slider .first-wrap .second-wrap .content-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
  main .slider .first-wrap .second-wrap .content-wrap .arrows {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  main .slider .first-wrap .second-wrap .content-wrap .content-img-wrap {
    padding: 15px;
  }
  main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap {
    padding: 15px;
  }
  main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap h3 {
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
  main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap p {
    height: 200px;
    padding: 6px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  main .slider .first-wrap .second-wrap .content-wrap .content-img-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 993px) and (max-width: 1399px) {
  main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap p {
    height: 340px;
  }
}

@media (min-width: 1400px) {
  main .slider .first-wrap .second-wrap .content-wrap .content-info-wrap p {
    height: 400px;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  color: #fff;
  font-size: 0.9rem;
}
/*# sourceMappingURL=style.css.map */